.cadastroContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background: radial-gradient(214.83% 95.42% at 50% 50%, #002072 0%, #000 100%);
}

.divCadastro {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80vw;
  height: 75vh;
  border-radius: 30px;
  background: #E8F0FF;

  .cadastroTitle {
    margin-top: 90px;
    color: #0D1E7A;
    font-size: 40px;
    font-weight: 600;
  }
}

.options-cadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  width: 100%;
  height: 100%;
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 25%;
    border-radius: 60px;
    height: 65%;
    background: #fff;
    cursor: pointer;
    transition: all 0.8s ease-in-out;

    &:hover {
      background: #0D1E7A;
      transform: scale(1.1);

      img {
        filter: invert(1);
      }

      h3 {
        color: #ffffff;
      }
    }

    img {
        width: 90px;

        transition: all 0.8s ease-in-out;
    }

    h3 {
      font-size: 180%;
      color: #000;

      transition: all 0.8s ease-in-out;
    }
  }
}