main.contato-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.contato-form-container {
  width: 100%;
  height: 100%;
  position: relative;
  background: url("../../assets/ContatoAssets/BG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.form-contato {
  width: 1100px;
  height: 600px;
  margin: auto;
  margin-top: 80px;
  background: #9cc4ff93;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.2px);
  -webkit-backdrop-filter: blur(15.2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  overflow: hidden;

  h2 {
    font-size: 3rem;
    font-weight: 300;
  }

  .inputs-contato {
    display: flex;
    justify-content: space-around;

    .input-contato {
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: flex-start;

      label {
        font-size: 1.5rem;
      }
      input {
        width: 300px;
        background: transparent;
        border: none;
        color: #ffffff;
        font-size: 1.1rem;
        font-weight: 100;
        border-bottom: 1px solid #fff;
        padding-bottom: 3px;

        &:focus {
          outline: none;
        }
        &::placeholder {
          color: #ffffff7a;
        }
      }
    }
  }

  .textarea-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    gap: 20px;

    label {
      font-size: 2rem;
    }

    textarea {
      padding: 10px;
      resize: none;
      width: 450px;
      height: 160px;
      margin: 10px 0;
      border-radius: 13.5px;
      border: 0.9px solid var(--Color, #fff);
      background: transparent;

      scrollbar-width: thin;
      scrollbar-color: #fff transparent;

      &::-webkit-scrollbar {
        width: 8px;
      }

      &:focus {
        outline: none;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #ffffff;
        border-radius: 4px;
      }
    }

    button {
      margin: 10px;
      border-radius: 30px;
      width: 120px;
      height: 40px;
      background: transparent;
      border: 1px solid rgba(255, 255, 255, 0.5);
      cursor: pointer;
      font-size: 17px;
      transition: all 0.6s ease-in-out;

      &:hover {
        background: #ffffff1a;
        transform: translateY(-10px);
      }
    }
  }
}

.person1 {
  position: absolute;
  bottom: -190px;
  left: 100px;
  z-index: 99;
}

.person2 {
  position: absolute;
  bottom: 0;
  right: 50px;
  z-index: 1;
}

.person3 {
  width: 700px;
  position: absolute;
  bottom: 0;
  right: 50px;
  z-index: 1;
}

.contato-social-container {
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 100px 250px;
  position: relative;
  color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    margin-bottom: 100px;
    color: #002492;
    font-size: 3rem;
    font-weight: 300;
  }

  .social-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 100%;

    a {
      display: flex;
      align-items: center;

      i {
        font-size: 5rem;
        color: #002592be;
        margin-right: 30px;
        transition: all 0.6s ease-in-out;
      }

      h3 {
        font-size: 2rem;
        color: #002592be;

        transition: all 0.6s ease-in-out;
      }

      &:hover {
        i {
          color: #002492;
        }

        h3 {
          color: #002492;
        }
      }
    }
  }
}
