/*  Home Global Styles */
.home {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: var(--primary-color);
  color: var(--white);
  background-size: cover;
  background-position: bottom;
  background-image: url(../../assets/FooterAssets/Fundo.png);
}

/*  Inicio da Pagina Home */

.home-initial {
  width: 100%;
  height: 100%;
  background: #eeeeee;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.initial-info h2 {
  font-size: 3rem;
  text-align: left;
  max-width: 600px;
  margin-top: 6rem;
  margin-bottom: 3rem;
  font-weight: 250;
}

.initial-info {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem 0 4rem;
}

/*  Sobre Nós da Pagina Home */

.home-about {
  width: 100%;
  height: 100%;
  background: url("../../assets/QuemSomosAssets/BG.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-container {
  background: #d9d9d910;
  width: 90%;
  margin-bottom: 5rem;
  border-radius: 16px;
}

.about-title {
  font-size: 80px;
  text-shadow: 15px 10px 15.1px rgba(0, 0, 0, 0.253);
  font-weight: bold;
  letter-spacing: 3px;
}

.about-info {
  display: flex;
  text-align: justify;
  align-items: center;
  justify-content: space-evenly;
}

.about-info img {
  transition: all 0.4s ease-in-out;
  transform: rotateZ(0) scale(0.9);

  &:hover {
    transform: rotateZ(-10deg) scale(1.1);
  }
}

.about-text {
  background: var(--white);
  color: var(--dark-blue);
  font-size: 1.4rem;
  font-weight: 500;
  width: 45%;
  text-align: center;
  line-height: normal;
  padding: 50px 20px;
  border-radius: 30px;
}

.about-button {
  color: var(--secondary-color);
  background: var(--white);
  border: 3px solid var(--white);
  font-size: 24px;
  font-weight: 700;
  padding: 10px 30px;
  border-radius: 24px;
  transition: all 0.4s ease-in-out;

  &:hover {
    color: var(--white);
    background: transparent;
    transform: translateY(-10px) scale(1.05);
  }
}

/*  Vantagens da Pagina Home */

.home-benefit {
  width: 100%;
  height: 100%;
  background: var(--white);
  color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-benefit h2 {
  margin-top: 3%;
  font-size: 60px;
  font-weight: 300;
}

.benefit-cards {
  display: flex;
  column-gap: 5rem;
  margin: auto;

  &:hover .benefit-card:hover {
    cursor: pointer;
    transform: translateY(-50px);
  }

  &:hover .benefit-card:not(:hover) {
    transform: translateX(-10px) scale(0.9);
    opacity: 0.9;
  }

  &:hover .benefit-card img:not(:hover) {
    filter: grayscale(1);
  }
}

.benefit-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;

  transition: all 0.4s ease-in-out;
}

.benefit-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--primary-color);
  border-radius: 50px;
  overflow: hidden;

  transition: all 0.4s ease-in-out;
}

.benefit-card h4 {
  padding: 1.5rem 0 0 0;
  font-size: 1.2rem;
  color: var(--white);
}

.benefit-card p {
  padding: 10px 2rem 2rem 2rem;
  max-width: 400px;
  color: var(--white);
}

/*  Depoimentos da Pagina */

.home-feedback {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: url("../../assets/FeedbackAssets/PatternFundo.png");
}

.feedbackWave1 {
  width: 100%;
  position: absolute;
  top: -28%;
  transform: rotate(180deg);
}

.feedbackWave2 {
  position: absolute;
  bottom: -25%;
}

.home-feedback .imageContainer {
  width: 40%;
  height: 50%;
  border-radius: 50px;
  object-fit: cover;
  background: url("../../assets/FeedbackAssets/Depoimentos.png");
  background-position: center;
  background-size: cover;
  cursor: pointer;

  transition: all 0.4s ease-in-out;
}

.home-feedback .imageContainer:hover {
  background: url("../../assets/FeedbackAssets/feedbackImg.png");
  background-position: center;
  background-size: cover;
  transform: scale(1.05);
}

.texts-feedback h2 {
  font-size: 3rem;
}

.texts-feedback p {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: var(--white);
  border-top: 3px solid var(--white);
  border-bottom: 3px solid var(--white);
  font-size: 2rem;
  margin-top: 5rem;
  padding: 25px 30px;
  border-radius: 10px;
  max-width: 500px;
}

/* ServicesCard */

.Container-Service {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

/* Serviços da Pagina Home */

.home-services {
  background: var(--white);
  width: 100%;
  height: 100%;
  display: inline-block;
}

.services-title {
  font-weight: 300;
  font-size: 60px;
  color: var(--dark-blue);
  margin-top: 3%;
  margin-bottom: 4%;
}

/*  Media Querys */

@media screen and (max-width: 1372px) {
  
  .initial-info {
    margin-top: 100px;
  }
  .initial-info h2 {
    font-size: 2.5rem;
    text-align: left;
    max-width: 650px;
  }
  .about-title {
    margin-top: 150px;
  }
  
  .home-about {
    margin-bottom: 70px;
    gap: 0px;
    
  }
  .home-benefit{
    margin-top: 100px;
  }
  .benefit-cards{
    column-gap: 2rem;
  }

  .about-button {
  margin-bottom: 100px;
  }
  
}

@media screen and (max-width: 1300px) {
  .home-benefit {
    height: 1700px;
    /* flex-direction: column; */
  }
  .benefit-cards{
    flex-direction: column;
    display: block;
  }
  .about-info img{
    width: 45%;
  }
  .about-info{
    margin-bottom: 50px;
  }
  .about-text p{
    font-size: 1.2rem;
  }
  .benefit-card {
    width: 450px;
    height: 450px;
    margin-bottom: 50px;
  }

  .Container-Service{
    flex-direction: column;
    margin-top: 100px;
  }

  .home-services {
    height: 1700px;
  }
  .home-initial{
    margin-bottom: 50px;
  }
  
  footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  }

  div.footer-container h2 {
    font-size: 40px;
  }

  div.footer-container a {
    font-size: 30px;
  }

}


@media screen and (max-width: 1150px) {
  .bracelet-btn {
    width: 14.75rem;
    height: 4rem;
  }
  .bracelet-btn span {
    font-size: 1rem;
  }
  .bracelet-btn img {
    width: 12%;
  }
  .initial-info h2 {
    font-size: 2.8rem;
    max-width: 470px;
  }

  .texts-feedback{
    margin: 50px auto;
  }
  
  div.texts-feedback p {
    font-size: 1.5rem;
    min-width: 100px;
    margin: 0 20px;
  }

  .home-feedback .imageContainer {
    width: 70%;
    margin-left: 20px;
  }
  
}

@media screen and (max-width: 900px) {
  .bracelet-btn {
    position: absolute;
    width: 14.75rem;
    height: 4rem;
    top: 6%;
    right: -1%;
    border-radius: 50px 0 0 50px;
  }
  .about-info img{
    display:none;
  }
  .home-initial{
    margin-bottom: 50px;
  }
  
  .about-title{
    font-size: 4rem;
    margin-top: 0px;
    margin-bottom: 45px;
  }
  .home-about{
    margin-bottom: 0px;
  }
  .about-button{
    margin-bottom: 0px;
  }
  .home-benefit{
    margin-top: 0px ;
  }
  
  .home-feedback{
    flex-direction: column-reverse;
    height: 900px;
  }
  .texts-feedback{
    margin: 50px auto;
  }
  .texts-feedback h2{
    margin-bottom: 25px;
  }
  
  div.texts-feedback p {
    font-size: 1.9rem;
    min-width: 300px;
  }
  
  .home-feedback .imageContainer {
    width: 75%;
    margin-bottom: 30px;
  }

  a.maisInfo {
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
  }

  .home-services {
    height: 1750px;
  }

  .about-info img {
    width: 30%;
}

  /* .initial-info h2 {
    margin-top: 7rem;
  } */

  .Carrossel-Left .left-infos {
    border: 1px solid red;
  }

}


@media screen and (max-width: 640px) {
  .bracelet-btn {
    position: absolute;
    width: 11.75rem;
    height: 3.4rem;
    right: -1%;
    border-radius: 50px 0 0 50px;
  }
  .home-initial {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .initial-info h2 {
    font-size: 2rem;
    position: absolute;
    bottom: 220px;
    left: 25px;
    font-weight: 600;
  }
  .signup-btn {
    position: absolute;
    width: 90%;
    margin: 0;
    border-radius: 15px;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
  }

}

@media screen and (max-width: 428px){
  .texts-feedback h2{
    font-size: 2rem;
  }
  .benefit-card{
    width: 350px;
    height: 450px;
  }
  .benefit-card h4 {
    font-size: 1.5rem;
  }
  .benefit-card p{
    font-size: .9rem;
  }
  
  .home-services{
    height: 1600px;
  }

  .services-title{
    margin-top: 50px;
  }
  .Container-Service{
    gap:40px;
  }
  .about-text{
    padding: 30px 15px;
    width: 90%;
  }
  .about-text p{
    font-size: .9rem;
  }
 


  
}

@media screen and (max-width: 375px) {
  .home-initial {
    width: 100%;
    height: 100%;
    background: #eeeeee;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
  }

  .initial-info h2 {
    font-size: 3rem;
    text-align: left;
    max-width: 600px;
    margin-top: 6rem;
    margin-bottom: 3rem;
    font-weight: 250;
  }

  .initial-info {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    margin-top: 40px;
  }
}